In [4]:
pavadinimas = "utenos alus"
print=(type(pavadinimas))

In [ ]:
pavadinimas = 'UAB"utenos alus"'
print=(type(pavadinimas))

In [1]:
print(5+(4*2))

13

In [3]:
pavadinimas = 'UAB"utenos alus"'
print=(type(pavadinimas))

In [5]:
kintamasis1 = 6
kintamasis2 = 4
suma = kintamasis1 + kintamasis2
print("Pirmas kintamasis:", kintamasis1)
print("Antras kintamasis:", kintamasis2)
print("Suma:", suma)

TypeError: str() argument 'encoding' must be str, not int

In [ ]:
# Sukuriame du kintamuosius ir įrašome norimus skaičius
skaicius1 = 7
skaicius2 = 5

# Sukuriame trečią kintamąjį, kurio reikšmė yra pirmų dviejų kintamųjų suma
suma = skaicius1 + skaicius2

# Išvedame visus kintamuosius
print("Pirmas skaičius:", skaicius1)
print("Antras skaičius:", skaicius2)
print("Suma:", suma)

TypeError: str() argument 'encoding' must be str, not int

In [9]:
3+3*4

15

In [15]:
pirmas = 4
antras = 6
rez=(pirmas+antras)
print(rez)

'10'

In [16]:
pirmassk = 5
antrassk = 4
suma = (pirmassk - antrassk)
print(suma)

'1'

In [39]:
nezinomasis1 = 9
nezinomasis2 = 4
suma = nezinomasis1 * nezinomasis2
print("suma " + str(suma))

TypeError: 'str' object is not callable

In [30]:
nezinomasis1 = 5
nezinomasis2 = 9
viso = (nezinomasis1 + nezinomasis2)
print = ('viso' + str(viso))

In [40]:
nezinomasis1 = 9
nezinomasis2 = 4
suma = nezinomasis1 + nezinomasis2
print("Suma: " + str(suma))

TypeError: 'str' object is not callable