In [1]:
2+2

4

In [6]:
skaicius 1 = float(input(8))
skaicius 2 =float (input(6))
skaicius 3 = float (input(4))
skaicius  =[skaicius 1,skaicius 2 , skaicius 3,]

SyntaxError: invalid syntax (31031524.py, line 1)

In [16]:
ivestis_1 = int(input("Įveskite skaičių:"))
Ivestis_2 = int(input("Įveskite skaičių:"))
Ivestis_3 = int(input("Įveskite skaičių:"))

listas = [Ivestis_1, Ivestis_2, Ivestis_3]
listas.sort()
print(f"Visi skaičiai: {listas}, vidurinis skaičius yra {listas[1]}")

NameError: name 'Ivestis_1' is not defined

In [15]:
# Paprašome vartotojo įvesti tris skaičius
sk1 = float(input("Įveskite pirmą skaičių: "))
sk2 = float(input("Įveskite antrą skaičių: "))
sk3 = float(input("Įveskite trečią skaičių: "))

# Sudedame skaičius į sąrašą
skaiciai = [sk1, sk2, sk3]

# Rūšiuojame sąrašą
skaiciai.sort()

# Vidurinis skaičius yra antras po rūšiavimo
vidurinis_skaicius = skaiciai[1]

# Atspausdiname vidurinį skaičių
print(f"Vidurinis skaičius: {vidurinis_skaicius}")

ValueError: could not convert string to float: 'sk1=2,sk2=1,sk3=0'

In [13]:
Įvestis_1 = int(input("Įveskite skaičių tarp 0 ir 2: "))
Įvestis_2 = int(input("Įveskite skaičių tarp 0 ir 2: "))
Įvestis_3 = int(input("Įveskite skaičių tarp 0 ir 2: "))
Įvestis_4 = int(input("Įveskite skaičių tarp 0 ir 2: "))
Įvessties_listas = []
Įvessties_listas.append(Įvestis_1)
Įvessties_listas.append(Įvestis_2)
Įvessties_listas.append(Įvestis_3)
Įvessties_listas.append(Įvestis_4)


count_0 = Įvessties_listas.count(0)
count_1 = Įvessties_listas.count(1)
count_2 = Įvessties_listas.count(2)


print(f"Nulių yra: {count_0}")
print(f"Vienetų yra: {count_1}")
print(f"Dvejetų yra {count_2}")

ValueError: invalid literal for int() with base 10: '1,2,1,0,'

In [ ]:
kiekis = int(input('veskite perkama kieki'))
if kiekis >1000:
nuolaida = 0.03

In [19]:

 = ['Vilnius', 'Kaunas', 'Alytus', 'Rokiškis',
'Ūla', 'Mažeikiai', 'Akmena']
# Spausdinkite tik tuos miestus, kurių pavadinimai ilgesni nei 6
# simboliai.
for miestas in miestai:
    if len(miestas) > 6:
        print(miestas)
miestai

Vilnius
Rokiškis
Mažeikiai

In [72]:
# Paprašome vartotojo įvesti eglutės ilgį
height = int(input('Įveskite eglutės ilgį (eilučių kiekį): '))

# Paprašome vartotojo įvesti simbolį
symbol = input('Įveskite simbolį eglutei: ')

# Spausdiname eglutę
for i in range(height):
    # Spausdiname tarpus
    print(' ' * (height) - i - 1) + symbol * (1 * i + 1)):

SyntaxError: unmatched ')' (904953775.py, line 10)

In [28]:
# Duotas tekstas
t = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"

# Išvedame simbolius ir jų pozicijas
for index, simbolis in enumerate(t):
    print(f'Pozicija: {index}, Simbolis: "{simbolis}"')

Pozicija: 0, Simbolis: "A"
Pozicija: 1, Simbolis: "š"
Pozicija: 2, Simbolis: " "
Pozicija: 3, Simbolis: "r"
Pozicija: 4, Simbolis: "y"
Pozicija: 5, Simbolis: "t"
Pozicija: 6, Simbolis: "a"
Pozicija: 7, Simbolis: "i"
Pozicija: 8, Simbolis: "s"
Pozicija: 9, Simbolis: " "
Pozicija: 10, Simbolis: "m"
Pozicija: 11, Simbolis: "ė"
Pozicija: 12, Simbolis: "g"
Pozicija: 13, Simbolis: "s"
Pozicija: 14, Simbolis: "t"
Pozicija: 15, Simbolis: "u"
Pozicija: 16, Simbolis: " "
Pozicija: 17, Simbolis: "k"
Pozicija: 18, Simbolis: "a"
Pozicija: 19, Simbolis: "v"
Pozicija: 20, Simbolis: "ą"
Pozicija: 21, Simbolis: " "
Pozicija: 22, Simbolis: "s"
Pozicija: 23, Simbolis: "u"
Pozicija: 24, Simbolis: " "
Pozicija: 25, Simbolis: "s"
Pozicija: 26, Simbolis: "u"
Pozicija: 27, Simbolis: "m"
Pozicija: 28, Simbolis: "u"
Pozicija: 29, Simbolis: "š"
Pozicija: 30, Simbolis: "t"
Pozicija: 31, Simbolis: "i"
Pozicija: 32, Simbolis: "n"
Pozicija: 33, Simbolis: "i"
Pozicija: 34, Simbolis: "a"
Pozicija: 35, Simbolis: "i"
Pozicija: 36, Simbolis: "s"
Pozicija: 37, Simbolis: " "
Pozicija: 38, Simbolis: "i"
Pozicija: 39, Simbolis: "r"
Pozicija: 40, Simbolis: " "
Pozicija: 41, Simbolis: "a"
Pozicija: 42, Simbolis: "r"
Pozicija: 43, Simbolis: "b"
Pozicija: 44, Simbolis: "a"
Pozicija: 45, Simbolis: "t"
Pozicija: 46, Simbolis: "ą"

In [29]:
# Duotas tekstas
t = "Megstu arbata su bandukemis"

# Išvedame simbolius ir jų pozicijas
for index, simbolis in enumerate(t):
    print(f'Pozicija: {index}, Simbolis: "{simbolis}"')

Pozicija: 0, Simbolis: "M"
Pozicija: 1, Simbolis: "e"
Pozicija: 2, Simbolis: "g"
Pozicija: 3, Simbolis: "s"
Pozicija: 4, Simbolis: "t"
Pozicija: 5, Simbolis: "u"
Pozicija: 6, Simbolis: " "
Pozicija: 7, Simbolis: "a"
Pozicija: 8, Simbolis: "r"
Pozicija: 9, Simbolis: "b"
Pozicija: 10, Simbolis: "a"
Pozicija: 11, Simbolis: "t"
Pozicija: 12, Simbolis: "a"
Pozicija: 13, Simbolis: " "
Pozicija: 14, Simbolis: "s"
Pozicija: 15, Simbolis: "u"
Pozicija: 16, Simbolis: " "
Pozicija: 17, Simbolis: "b"
Pozicija: 18, Simbolis: "a"
Pozicija: 19, Simbolis: "n"
Pozicija: 20, Simbolis: "d"
Pozicija: 21, Simbolis: "u"
Pozicija: 22, Simbolis: "k"
Pozicija: 23, Simbolis: "e"
Pozicija: 24, Simbolis: "m"
Pozicija: 25, Simbolis: "i"
Pozicija: 26, Simbolis: "s"

In [47]:
t = "Aš sumuštiniais rytais mėgstu kavą su  ir arbatą"
# Eilutės spausdinimas pagal nurodytas sąlygas
for index, char in enumerate(t):
    if index % 2 == 0:  # Lyginė pozicija
        print(char.upper(), end='')  # Spausdiname viršutiniu registru
    else:  # Nelyginė pozicija
        print(char.lower(), end='')  # Spausdiname žemutiniu registru

print()  # Pridėti naują eilutę po spausdinimo

Aš sUmUšTiNiAiS RyTaIs mĖgStU KaVą sU  iR ArBaTą

In [49]:
# Tekstas, iš kurio bus imami žodžiai
text = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"

# Padalijame eilutę į žodžius
words = text.split()

# Išvedame kiekvieną žodį atskirai
for word in words:
    print(text)

Aš rytais mėgstu kavą su sumuštiniais ir arbatą
Aš rytais mėgstu kavą su sumuštiniais ir arbatą
Aš rytais mėgstu kavą su sumuštiniais ir arbatą
Aš rytais mėgstu kavą su sumuštiniais ir arbatą
Aš rytais mėgstu kavą su sumuštiniais ir arbatą
Aš rytais mėgstu kavą su sumuštiniais ir arbatą
Aš rytais mėgstu kavą su sumuštiniais ir arbatą
Aš rytais mėgstu kavą su sumuštiniais ir arbatą

In [31]:
t = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"

# Padalijame eilutę į žodžius
words = t.split()

# Išvedame kiekvieną žodį atskirai
for word in words:
    print(word)

Aš
rytais
mėgstu
kavą
su
sumuštiniais
ir
arbatą

In [34]:
# Paprašome vartotojo įvesti simbolį
symbol = input('Įveskite simbolį: ')

# Paprašome vartotojo įvesti skaičių
size = int(input('Įveskite kraštinę (skaičių): '))

# Išvedame kvadratą
for i in range(size):
    print(symbol * size)

222
222
222

In [73]:
# Paprašome vartotojo įvesti eglutės ilgį
height = int(input('Įveskite eglutės ilgį (eilučių kiekį): '))

# Paprašome vartotojo įvesti simbolįzz
symbol = input('Įveskite simbolį eglutei: ')

# Spausdiname eglutę
for i in range(height):
    # Spausdiname tarpus
    print('.' * (height - i - 1) + symbol * (1 * i + 5))

..22222
.222222
2222222

In [62]:

 text= ['Vilnius', 'Kaunas', 'Alytus', 'Rokiškis',
'Ūla', 'Mažeikiai', 'Akmena']
# Spausdinkite tik tuos miestus, kurių pavadinimai ilgesni nei 6
# simboliai.
for miestas in miestai:
    if len(miestas) > 6:
        print(miestas)

Vilnius
Rokiškis
Mažeikiai

In [76]:
# Paprašome vartotojo įvesti eglutės ilgį
height = int(input('Įveskite eglutės ilgį (eilučių kiekį): '))

# Paprašome vartotojo įvesti simbolį
symbol = input('Įveskite simbolį eglutei: ')

# Išvedame eglutę
for i in range(height):
    # Spausdiname tarpus ir simbolius
    print(' ' * (height - i - 1) + symbol * (2 * i + 1))

        f
       fff
      fffff
     fffffff
    fffffffff
   fffffffffff
  fffffffffffff
 fffffffffffffff
fffffffffffffffff

In [3]:
# Duotas tekstas
t = "Megstu arbata su bandukemis"

# Išvedame simbolius ir jų pozicijas
for index, simbolis in enumerate(t):
    print(f'Pozicija:{index}, Simbolis: "{simbolis}"')

Pozicija:0, Simbolis: "M"
Pozicija:1, Simbolis: "e"
Pozicija:2, Simbolis: "g"
Pozicija:3, Simbolis: "s"
Pozicija:4, Simbolis: "t"
Pozicija:5, Simbolis: "u"
Pozicija:6, Simbolis: " "
Pozicija:7, Simbolis: "a"
Pozicija:8, Simbolis: "r"
Pozicija:9, Simbolis: "b"
Pozicija:10, Simbolis: "a"
Pozicija:11, Simbolis: "t"
Pozicija:12, Simbolis: "a"
Pozicija:13, Simbolis: " "
Pozicija:14, Simbolis: "s"
Pozicija:15, Simbolis: "u"
Pozicija:16, Simbolis: " "
Pozicija:17, Simbolis: "b"
Pozicija:18, Simbolis: "a"
Pozicija:19, Simbolis: "n"
Pozicija:20, Simbolis: "d"
Pozicija:21, Simbolis: "u"
Pozicija:22, Simbolis: "k"
Pozicija:23, Simbolis: "e"
Pozicija:24, Simbolis: "m"
Pozicija:25, Simbolis: "i"
Pozicija:26, Simbolis: "s"

In [ ]:
i = 0
sarasas = []

while i < 10:
    # Iteracija
    print(f"Kintamasis i yra: {i}")
    sarasas.append("Stringas")
    i += 1

# Papildytas sąrašas:
print(sarasas)

In [1]:
t = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"
zodziai = t.split()  # Padalina tekstą į žodžius

for zodis in zodziai:
    print(zodis)

Aš
rytais
mėgstu
kavą
su
sumuštiniais
ir
arbatą

In [4]:
sarasas = [
    "Aš",
    "rytais",
    "mėgstu",
    "kavą",
    "su",
    "sumuštiniais",
    "ir",
    "arbatą."
]

# Sukuria sakinį iš žodžių
sakinys =' '. join(sarasas)
print(sakinys)

Aš rytais mėgstu kavą su sumuštiniais ir arbatą.

In [6]:
# Vartotojo įvedimas
ilgis = int(input("Įveskite minimalią žodžio ilgį: "))
tekstas = input("Įveskite tekstą, kurį žodis turi turėti: ")

# Žodžių sąrašas
sarasas = [
    "Aš",
    "rytais",
    "mėgstu",
    "kavą",
    "su",
    "sumuštiniais",                                                                             
    "ir",
    "arbatą."
]

# Išvedame žodžius, kurie atitinka sąlygas
for zodis in sarasas:
    if len(zodis) > ilgis and tekstas in zodis:
        print(zodis)

In [5]:
sarasas = [8, 5, 9, 6, 10]

indeksas = 2

for skaicius in sarasas :
    print(skaicius * indeksas)
    indeksas += 1

16
15
36
30
60

In [4]:
text = "hello"
for letter in word:
    print(letter)

h
e
l
l
o

In [6]:
person = {"name": "Alice", "age": 30}
for key in person:
    print(key, person[key])

name Alice
age 30

In [10]:
# Tuplė su skaičiais
my_tuple = (1, 2, 3)

# Tuplė su įvairių tipų duomenimis
mixed_tuple = (1, "hello", 3.14):
    print =sep: str | None = " ",

SyntaxError: invalid syntax (2632064090.py, line 5)

In [11]:
count = 0
while True:  # Begalybės ciklas
    print(count)
    count += 1  # Didiname count
    if count >= 10:  # Kai count pasiekia 10
        break  # Išeiname iš ciklo

0
1
2
3
4
5
6
7
8
9

In [16]:
list = (simas,pertas,saulius)
for= (count)
    print = count

SyntaxError: invalid syntax (1636613921.py, line 2)

In [18]:
for i in range(7):  # 5 kartus
    print(i)

0
1
2
3
4
5
6

In [28]:
for i in range(8):

    if i >= 5:
        continue  # Praleidžia, kai i yra 5
    if i == 10:
        break  # Išeina iš ciklo, kai i yra 8
    print(i)

0
1
2
3
4

In [34]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)

print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [35]:
simbolis = input("Įveskite simbolį")

while True :
    if simbolis == "" :
        simbolis = input("Įveskite simbolį")
    else :
        break

kiekis = int(input("Įveskite kiekį"))

# print(simbolis, kiekis)

for indeksas in range(kiekis) :
    print(simbolis * kiekis)

jjjjjjjjj
jjjjjjjjj
jjjjjjjjj
jjjjjjjjj
jjjjjjjjj
jjjjjjjjj
jjjjjjjjj
jjjjjjjjj
jjjjjjjjj

In [46]:
miestai = ("siauliai","Alesundas", "Molde", "Bergenas")
for miestas in miestai:
    if len(miestas) >5:
        print (miestas)

siauliai
Alesundas
Bergenas

In [40]:
miestai = ['Vilnius', 'Kaunas', 'Alytus', 'Rokiškis', 'Ūla', 'Mažeikiai', 'Akmena']

for miestas in miestai :
    if len(miestas) > 6 :
        print(miestas)

Vilnius
Rokiškis
Mažeikiai

In [48]:
# Du sąrašai
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35, 40]

# Naudojame zip
zipped = zip(names, ages)

# Konvertuojame į sąrašą ir spausdiname
print(list(zipped))

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

In [49]:
#named indexes:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
#numbered indexes:
txt2 = "My name is {0}, I'm (1)".format("John",36)

print(txt1)
print(txt2)

My name is John, I'm 36
My name is John, I'm (1)

In [50]:
txt = "My name is {name} and I am {age} years old.".format(name="Alice", age=30)
print(txt)

My name is Alice and I am 30 years old.

In [59]:
txt = "Mano vardas {vardas} as {amzius} metu senumo".format(vardas = "Antanas", amzius =40)
print(txt)

Mano vardas Antanas as 40 metu senumo

In [61]:
sarasas = [8, 5, 9, 6, 10]
pirmas_elementas = sarasas[0]  # 8
antro_elementas = sarasas[1]   # 5
print(pirmas_elementas, antro_elementas)

8 5

In [62]:
sarasas = [8, 5, 9, 6, 10]
sarasas.append(12)
print(sarasas)  # [8, 5, 9, 6, 10, 12]

[8, 5, 9, 6, 10, 12]

In [65]:
sarasas =[9,2,4,6,9]
for index, skaicius in enumerate(sarasas, start=1):
    print(f"Index: {index}, Value: {skaicius}")

Index: 1, Value: 9
Index: 2, Value: 2
Index: 3, Value: 4
Index: 4, Value: 6
Index: 5, Value: 9

In [68]:
sarasas =[9,2,4,6,9]
for index, sarasas in enumerate(sarasas, start=1):
    print(f"Index: {index}, skaicius: {sarasas}")

Index: 1, skaicius: 9
Index: 2, skaicius: 2
Index: 3, skaicius: 4
Index: 4, skaicius: 6
Index: 5, skaicius: 9

In [69]:
pirmas = [22, 15, 17, 6, 9]

# print(22 + 15 + 17 + 6 + 9)

antras = [5, 6, 22, 0, 30, 4, 55]

# print(5 + 6 + 22 + 0 + 30 + 4 + 55)

pirmoSuma = 0

for skaicius in pirmas :
    pirmoSuma += skaicius

print(pirmoSuma)

antroSuma = 0

for skaicius in antras :
    antroSuma += skaicius

print(antroSuma)

69
122

In [71]:
pirmas = [22, 15, 17, 6, 9]

# print(22 + 15 + 17 + 6 + 9)

antras = [5, 6, 22, 0, 30, 4, 55]

# print(5 + 6 + 22 + 0 + 30 + 4 + 55)

pirmoSuma = 0

for skaicius in pirmas :
    pirmoSuma += skaicius

print(pirmoSuma)

antroSuma = 0

for skaicius in antras :
    antroSuma += skaicius

print(antroSuma)
print(pirmoSuma + antroSuma)

69
122
191