In [3]:
print("Labas,pasauli")

Labas,pasauli

In [6]:
print("Naktis buvo salta! \nTodel jis kureno peciu,\nKad galetu susilti")

Naktis buvo salta!
Todel jis kureno peciu,
Kad galetu susilti

In [10]:
print("Labas pasauli\nEina peklon")

Labas pasauli
Eina peklon

In [26]:
print("2+2 yra", 2+2)
print("4*4 yra", 4*4)
print("100-1 yra", 100-1)
print("(33+2)/5+11.5 yra",(33+2)/5+11.5)

2+2 yra 4
4*4 yra 16
100-1 yra 99
(33+2)/5+11.5 yra 18.5

In [27]:
print(22/7)

3.142857142857143

In [32]:
print("Buti ar nebuti,stai kur klausymas.\n                  ---   Sekspyras ")

Buti ar nebuti,stai kur klausymas.
                  ---   Sekspyras

In [39]:
print("Pirmoji klase")
print("1 + 1 =",1 + 1)
print("2 + 4 =", 2 + 4)
print("5 - 2 =",5 - 2)
print()
print("Trecia klase")
print("234 - 23 =",234-23)
print("12 * 4 =",12 * 4)
print("12 / 3 =",12/3)
print("13/3 =",13 // 3,"liekana",13 % 3)
print()
print("Penktoji klase")
print("123.56 - 62.12 =",123.56 - 62.12)
print("(4 + 3) * 2", (4 + 3) * 2)
print("4 + 4 * 2", 4 + 4 *2)
print("3 ** 2 =",3 ** 2)

Pirmoji klase
1 + 1 = 2
2 + 4 = 6
5 - 2 = 3

Trecia klase
234 - 23 = 211
12 * 4 = 48
12 / 3 = 4.0
13/3 = 4 liekana 1

Penktoji klase
123.56 - 62.12 = 61.440000000000005
(4 + 3) * 2 14
4 + 4 * 2 12
3 ** 2 = 9

In [40]:
# 1 prendimas
print("Zydrunas")
print("Andriulis")
print("1972.01.01")

Zydrunas
Andriulis
1972.01.01

In [50]:
print("(2023 - 2000) * (9+10), = lygu" ,(2023 - 2000) * (9+10))

(2023 - 2000) * (9+10), = lygu 437

In [6]:
print("stok blyn")
vartotojo_ivestis = input("kas cia eina?")
print("Gali praeiti,",vartotojo_ivestis)

stok blyn
Gali praeiti, niekas

In [8]:
print("stok blyn")  # Atspausdina "stok blyn"
vartotojo_ivestis = input("kas cia eina? ")  # Prašo vartotojo įvesties
print("Gali praeiti,", vartotojo_ivestis)  # Atspausdina "Gali praeiti," ir įvestą atsakymą

stok blyn
Gali praeiti, smekla

In [3]:
print("dokumentus prasau")
vartotojo_ivestis = input("kiek jums metu ?")
print("prasome uzeiti," , vartotojo_ivestis)

dokumentus prasau
prasome uzeiti, 2

In [ ]:
print("dokumentus prasau")  # Atspausdina "dokumentus prasau"
vartotojo_ivestis = input("kiek jums metu? ")  # Prašo vartotojo įvesti, kiek jam metų
print("prasome uzeiti,", vartotojo_ivestis)  # Atspausdina "prasome uzeiti," ir vartotojo įvestus metus

dokumentus prasau
prasome uzeiti, 2

In [5]:
print("Stop!")
vartotojo_įvestis = input("Kas čia eina? ")
print("Gali praeiti,",  vartotojo_įvestis )

Stop!
Gali praeiti, as

In [ ]:
print

In [14]:
# 2 sprendimas
print(5 + 2)
print(3 +  3 , 14 / 3 , 14 - 3 ,"liekana",14 + 3)
print("1 + 2")

7
6 4.666666666666667 11 liekana 17
1 + 2

In [22]:
a = 123.4
vardas ="Zy"
b23 = "slamstas"
b = 432
c = a + b
print("a + b yra ", c)
print("vardas yra",vardas)
print("Gautieji,svarbus ar" , b23)

a + b yra  555.4
vardas yra Zy
Gautieji,svarbus ar slamstas

In [ ]:
reiksme1 == oho"
reiksme2 == "oho"

NameError: name 'reiksme1' is not defined

In [ ]:
a = 4      #kintamasis =a
print(a)
a = a + 1  #a + 1  a = 5
print  (a)
a = a * 2   # (a=5) * 2 
print (a)

4
5
10

In [27]:
# namu darabai
skaicius = float(input("ivesk skaiciu,su kableliu:"))
SveikasSkaicius = int(input("ivesk sveika skaiciu"))
tekstas = input("STAIGIAI VEDI TEKSTA")
print("skaicius =",skaicius)
print("skaicius yra",type(skaicius))
print("skaicius * 3 =",skaicius * 2)
print("sveikas skaicius =" , SveikasSkaicius)
print("tekstas *3 =",(tekstas * 3))
print("tekstas yra",type(tekstas))
print("tekstas =", (tekstas))
print("SveikasSkaicius *2 =",(SveikasSkaicius *2))
print("sveikas skaicius yra =",type(SveikasSkaicius))
print("noriu")

skaicius = 2.2
skaicius yra <class 'float'>
skaicius * 3 = 4.4
sveikas skaicius = 3
tekstas *3 = keturiketuriketuri
tekstas yra <class 'str'>
tekstas = keturi
SveikasSkaicius *2 = 6
sveikas skaicius yra = <class 'int'>
noriu

In [43]:
print("Cia" + "  " + "yra " + "junginys")
print("Ha ," * 4)
print("Ha ," * 5 + "hi")
# print("3"-"1")
print(int("3") -int("1"))

Cia  yra junginys
Ha ,Ha ,Ha ,Ha ,
Ha ,Ha ,Ha ,Ha ,Ha ,hi
2

In [47]:
# Konstantos
PI = 3.141592653589793
spindulys = float(input("skritulio spindulys"))
plotas = PI * spindulys * spindulys
print("skritulio plotas", plotas)

skritulio plotas 3.141592653589793

In [57]:
# Si programa apskaiciuoja laiko prklausomybe nuo greicio ir atstumo
print("Ivesk greiti ir atstuma")
greiitis = float(input("greitis"))
atstumas = float(input("atstumas"))
laikas =  (atstumas / greiitis)
print("laikas :" ,laikas)

Ivesk greiti ir atstuma
laikas : 0.5

In [63]:
# si programa apskaiciuoja staciakampio perimetra ir plota
print("Iveskite staciakampio info")
ilgis = float(input("ilgis:"))
plotis = float(input("plotis:"))
perimetras = (2 * ilgis + 2 * plotis)
plotas = ilgis * plotis
print("plotas:", plotas)
print("plotis:", ilgis * plotis)
print("perimetras:", perimetras)

Iveskite staciakampio info
plotas: 9.0
plotis: 9.0
perimetras: 12.0

In [67]:
# si programa konvertuoja temperatura isFarenheitu i celciju
far_temp = float(input("temperatura farenheitais"))
cels_temp = (far_temp - 32.0) #KONVERTAVIMO KOOFICIENTAS
print("teperatura celcijaus laipsniais",cels_temp)

teperatura celcijaus laipsniais 10.0

In [69]:
# 1. Parašyk programą, kuri priima 2 tekstines reikšmes ir 2 skaičius
#  iš vartotojo įvesties, sujungia tekstus be tarpų ir atvaizduoja gautą
#  rezultatą, o tada sudaugina du skaičius ir atvaizduoja naujoje 
# eilutėje.

tekstas1 = input("tekstas 1:")
tekstas2 = input("tekstas 2:")
skaicius1 = float(input("skaicius 1:"))
skaicius2 = float(input("skaicius 2:"))
print(tekstas1 + tekstas2)
print(skaicius1 +skaicius2)

mamaLabas
3.2

In [71]:
# 2. Parašyk programą, kuri paprašytų įvesti savo vardą ir amžių,
#  o ji atspausdintų tekstą “Labas, aš {vardas}. Man {metai} metų.”.
#  Kur {vardas} ir {metai} yra įvesti duomenys.

vardas = input("iveskite varda")
metai = float(input("iveskite savo metus"))
print("labas ,as ",vardas,"man" ,metai,"metu")

labas ,as  Zy man 60.0 metu

In [75]:
# 3. Parašyk programą, kuriai įvestum sekundžių skaičių,
#  o ji išvestų, kiek tai yra minučių.
sekundes = float(input("Iveskite sekudziu skaiciu"))
minutes = sekundes / 60
print(sekundes,"s =",minutes, "min")

70.0 s = 1.1666666666666667 min